/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #393e46;
    color: #eeeeee;
    transition: all 0.3s ease;
}

/* HEADER */

header > h1 {
    font-size: 3rem;
}

/* COUNTER */

.counter {
    border: 3px solid #eeeeee;
    width: 150px;
    margin: 20px auto;
    font-size: 3rem;
    border-radius: 5px;
    padding: 5px;
}

/* CHOICES */

.choice {
    display: inline-block;
    transition: all 0.3s ease;
    padding: 20px;
}

.choice:hover {
    cursor: pointer;
    color: tomato;
}

/* SYMBOLS */

.far {
    font-size: 5rem;
}

/* RESULT */

.result {
    font-size: 1.5rem;
}

/* COLOR INDICATORS */

.green-glow {
    background-color: green;
}

.red-glow {
    background-color: red;
}

.gray-glow {
    background-color: gray;
}

/* RESTART */

.restart {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    transition: all 0.3s ease;
}

.restart:hover {
    background-color: red;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    header > h1 {
        font-size: 1rem;
    }

    .counter {
        border: 3px solid #eeeeee;
        width: 100px;
        margin: 10px auto;
        font-size: 2rem;
        border-radius: 5px;
        padding: 5px;
    }

    .far {
        font-size: 3rem;
    }

    .result {
        font-size: 1rem;
    }
}