/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
}

/* HEADER */

header {
    padding: 20px;
}

header > h1 {
    font-size: 3rem;
}

/* COUNTER */

.counter {
    border: 3px solid black;
    width: 150px;
    margin: 20px auto;
    font-size: 3rem;
    border-radius: 5px;
    padding: 5px;
}

/* RESULT */

.result {
    font-size: 2rem;
}

/* CHOICES */

.choice {
    display: inline-block;
    transition: all 0.3s ease;
    padding: 20px;
}

.choice:hover {
    cursor: pointer;
    color: tomato;
}

/* SYMBOLS */

.far {
    font-size: 5rem;
}

/* COLOR INDICATORS */

.green-glow {
    background-color: green;
}

.red-glow {
    background-color: red;
}

.gray-glow {
    background-color: gray;
}